<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fallersapp.fallersapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".login.LoginActivity"
            android:label="Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".signup.SignupActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.fallersapp.fallersapp.LoginActivity" />-->
        </activity>

        <activity
            android:name=".home.MainActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity
            android:name=".plan.PlanActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".plan.AddPlanActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".plan.PickLocation"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>

        <activity
            android:name=".plan.DetailPlan"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".bookmark.BookmarkActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".map.MapActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".history.HistoryActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".about.AboutActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".profile.ProfileActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD7RkzYBvTXe7x2g1bmcYlvmpVD1vNP_tI"/>
    </application>

</manifest>